{
    "whisper": {
        "model": "/path/to/llm/ggml-base.en.bin"
    },
    "keywords": {
        "forbidden": {
            "en": [
                "train",
                "transfer",
                "money"
            ]
        }
    },
    "processing": {
        "sending_ticker": 60,
        "sample_rate": 16000.00,
        "frames_per_buf": 512,
        "audio_channels": 1,
        "audio_buf_channel_size": 1024
    }
}
